module.exports = {
 'TelegramProductionURL': 'https://YOUR-PRODUCTION-URL/', // do not forget trailing "/" !!
 'TelegramToken': '<telegram token here>', // Telegram token
 'googleSheetKey': '<google sheet key>', // the key of the google sheet (should be public!), extract key from the google sheet doc publich url
 "confTimeZone": "Europe/Berlin" // time zone of the conference in the form like "Europe/Berlin", see http://momentjs.com/timezone/
}